In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import nltk
from bs4 import BeautifulSoup
import random
import os
from textblob import TextBlob
%matplotlib inline

In [4]:
df=pd.read_csv("./data/all-data.csv", encoding='latin-1')

In [5]:
df

,neutral,"According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing ."
0,neutral,Technopolis plans to develop in stages an area...
1,negative,The international electronic industry company ...
2,positive,With the new production plant the company woul...
3,positive,According to the company 's updated strategy f...
4,positive,FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...
...,...,...
4840,negative,LONDON MarketWatch -- Share prices ended lower...
4841,neutral,Rinkuskiai 's beer sales fell by 6.5 per cent ...
4842,negative,Operating profit fell to EUR 35.4 mn from EUR ...
4843,negative,Net sales of the Paper segment decreased to EU...
4844,negative,Sales in Finland decreased by 10.5 % in Januar...

In [6]:
df2=pd.read_csv('./data/IndianFinancialNews.csv')

In [22]:
df2.head()

,Date,Title,Description
0,"May 26, 2020, Tuesday","ATMs to become virtual bank branches, accept d...","Close to 14.6 per cent (or 35,000) of the 240,..."
1,"May 26, 2020, Tuesday",IDFC First Bank seniors to forgo 65% of bonus ...,"V Vaidyanathan, managing director and chief ex..."
2,"May 25, 2020, Monday","Huge scam in YES Bank for many years, says Enf...",Rana Kapoor's wife also charged with abetting ...
3,"May 24, 2020, Sunday","Bank of Maharashtra sanctioned Rs 2,789 cr in ...",The bank said it was now gearing up to extend ...
4,"May 23, 2020, Saturday",DCB Bank's profit before tax declines 37.6% to...,Net profit for the financial year ended March ...

In [8]:
df=df.rename(columns={
    'neutral':'sentiment',
    'According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing .':'news'
})

In [9]:
df.head()

  sentiment                                               news
0   neutral  Technopolis plans to develop in stages an area...
1  negative  The international electronic industry company ...
2  positive  With the new production plant the company woul...
3  positive  According to the company 's updated strategy f...
4  positive  FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...

In [13]:
df['sentiment'].value_counts()

neutral     2878
positive    1363
negative     604
Name: sentiment, dtype: int64

In [20]:
df2=df2.drop('Unnamed: 0', axis=1)

In [31]:
len(df2)

50000

In [24]:
df3=pd.read_csv('./data/0datasets/finalSentimentdata2.csv')

In [25]:
df3.head()

   Unnamed: 0 sentiment                                               text
0        3204       sad  agree the poor in india are treated badly thei...
1        1431       joy  if only i could have spent the with this cutie...
2         654       joy  will nature conservation remain a priority in ...
3        2530       sad  coronavirus disappearing in italy show this to...
4        2296       sad  uk records lowest daily virus death toll since...

### Need to extract article from given URL

In [26]:
# sns.countplot(y='sentiment', data=df)

In [47]:
import requests
import nltk
from bs4 import BeautifulSoup
import random
import os
from textblob import TextBlob

In [107]:
def get_article(link):
    r=requests.get(link)
    r.encoding='utf-8'
    html=r.text
    soup=BeautifulSoup(html)
    text=soup.get_text()
    clean_text=text.replace('\n',' ').replace('\t', ' ').replace("'"," ").replace("\\"," ").replace("â˜…"," ").replace("  "," ")
    final_text=''.join([c for c in clean_text if c!="'"])
    return final_text[:5000]

In [ ]:
news_list=[]
for x in range(len(df3)):
    news_list.append(get_article(df3['URL'][x]))

In [27]:
# news_list[:10]

NameError: name 'news_list' is not defined

In [28]:
df3.columns

Index(['Unnamed: 0', 'sentiment', 'text'], dtype='object')

In [30]:
df3['text'][8]

'thull is passing the most dangerous and ultra hazardous situation in its history 80% population of thul town and surrounding have been striked by corona virus cm/health m sindh to take notice we plead the govt to pay attention to thul retweet &share'